In [26]:
print("KEERTHI DAS")
print("1AY24BT21")
def collatz(n):
    
    while n != 1:
        print(n, end=' ')
        if n % 2 == 0:
            n //= 2
        else:
            n = 3 * n + 1
    print(1)

collatz(6)

KEERTHI DAS
1AY24BT21
6 3 10 5 16 8 4 2 1